.welcome__cerrar,
.welcome__cerrar--mobile {
  height: 2rem;
  width: 2rem;
  color: var(--color-rojo);
}
.welcome__cerrar {
  margin-right: 1rem;
}

.button.welcome__cerrar:hover,
.welcome__cerrar--mobile:hover {
  color: #fff;
  background-color: var(--color-rojo);
}

.welcome__cerrar--mobile {
  position: absolute;
  bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .welcome__cerrar {
    font-size: 18px;
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (min-width: 768px) {
    .welcome__cerrar {
        margin-right: 2rem;
    }
  }
