<header class="sep-inf">
  <nav class="container f-main-center py-3">
      <!-- Logo -->
      <div class="mb-4 tb-2 ldk-1">
          <a href="/home"><img src="/images/logo/ukunta-amarillo.svg" alt="logotipo"></a>
      </div>
  </nav>
</header>