<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
    <!-- MAIN STYLES -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="about">
    <header class="header">
        <nav class="navbar">

            <!-- Logo -->
            <div class="navbar__logo">
                <a href="/"><img src="images/logo/ukunta.svg" alt="logotipo"></a>
            </div>

            <!-- Search -->
            <div class="navbar__search only-desktop">
                <input type="search" name="search" class="input-search" placeholder="Buscar productos">
                <button><i class="fas fa-arrow-right"></i></button>
            </div>

            <!-- Navegacion -->
            <div class="navbar__menu">
                <ul class="navbar_ul only-desktop">
                    <li class="navbar__item active"><a href="/">INICIO</a></li>
                    <li class="navbar__item"><a href="#">NOSOTROS</a></li>
                    <li class="navbar__item"><a href="/store">TIENDA</a></li>
                    <li class="navbar__item"><a href="/home#contacto">CONTACTO</a></li>
                    <!-- boton del menu desplegable para cerrar -->
                    <button class="navbar__back no-desktop">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </ul>

                <div class="navbar__shop only-desktop">
                    <a href="#" class="navbar__item">
                        <i class="fas fa-shopping-cart only-desktop"></i>
                    </a>
                    <div class="navbar__badge">3</div>
                </div>

                <a href="#" class="navbar__item"><i class="fas fa-user"></i></a>
            </div>
        </nav>
    </header>
    <!-- Barra de navegación inferior -->
    <nav class="navbar-bottom no-desktop">
        <ul class="navbar-bottom__ul">
            <li class="navbar__item"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="navbar__item"><a href="#"><i class="fas fa-search"></i></a></li>
            <li class="navbar__item"><a href="#"><i class="fas fa-store"></i></a></li>
            <li class="navbar__shop">
                <a href="#" class="navbar__item">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="navbar__badge">3</div>
            </li>
            <li class="navbar__item"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>


    <main class="f-display f-main-y f-main-center sep-inf mtp-5 max-1440">
        <section class="container f-main-center mbt-4">
            <div class="mb-8 tb-6 lp-3 f-cross-end">
                <img src="/images/logo/logo.svg" alt="logo Ukunta">
            </div>
            <div class="mb-12 lp-9 f-main-y">
                <article>
                    <h3>BREVE HISTORIA</h3>
                    <p>Somos una familia de malteros de origen Escandinavo, que aun conserva las costumbres de nuestros
                        ancestros, y nos dedicamos especialmente a lo que mejor sabemos hacer, destilar cerveza. Fundada
                        por nuestros abuelos, alla por 1950, Ukunta conserva su toque tradicional que hacen de nuestras
                        cervezas su especialidad y de nuestra hidromiel un viaje sin escala al medio Evo.</p>
                </article>
                <article>
                    <h3>NUESTRA MISIÓN</h3>
                    <p>Aspiramos a convertirnos en un fuerte referente a la hora de elegir entre las posibilidades del
                        mercado, para lograrlo hemos diseñado una serie de compromisos que forman parte de nuestra
                        identidad. Ellos son la Calidad, que se evidencia de inicio a fin en todos los procesos de
                        elaboracion, la Confianza, nuestros clientes nos pueden elegir tranquilos porque siempre
                        obtienen lo mejor, y el Compromiso, todo el equipo de Ukunta trabaja unido para crear las
                        mejores variedades.</p>
                </article>

            </div>
        </section>
    </main>


    <footer class="mtp-5 footer view-about__footer">
        <div class="container">
            <div class="mb-12 f-center footer__redes view-about__redes">
                <a href="#" class="button button-redes">
                    <img src="/images/icon-fb.svg" alt="facebook">
                </a>
                <a href="#" class="button button-redes">
                    <img src="/images/icon-ig.svg" alt="instagram">
                </a>
                <a href="#" class="button button-redes">
                    <img src="/images/icon-yt.svg" alt="youtube">
                </a>
            </div>

            <article class="mb-12 tb-4 f-main-y">
                <h4 class="footer__title">Datos de contacto</h4>
                <div class="footer__item">
                   <a href="http://maps.google.com" target="_blank"
                      ><i class="fas fa-map-marker-alt"> </i>
                      dirección: av siempre viva 453
                   </a>
                </div>
                <div class="footer__item">
                   <a href="https://wa.me/+5491234567890/?text=Buenos%20tardes,%20quisiera..." target="_blank"
                      ><i class="fab fa-whatsapp"> </i>
                      whatsapp: +54 9 123 4567890
                   </a>
                </div>
                <div class="footer__item">
                   <a href="mailto:ventas@ukunta.com.ar?Subject=Cliente%20web" target="_blank"><i class="fas fa-envelope"> </i>
                      email: ventas@ukunta.com.ar
                   </a>
                </div>
             </article>

            <article class="mb-12 tb-4 f-main-y">
                <h4 class="footer__title">Mapa del sitio</h4>
                <div class="footer__item">
                    <a href="/nosotros">Nosotros</a>
                </div>
                <div class="footer__item">
                    <a href="/store">Tienda</a>
                </div>
                <div class="footer__item">
                    <a href="/home#contacto">Contacto</a>
                </div>
            </article>

            <article class="mb-12 tb-4 f-main-y">
                <h4 class="footer__title">Medios de pago</h4>
                <div class="footer__item footer__medios">
                    <img src="/images/medio-1.jpg" alt="Rapipago">
                    <img src="/images/medio-2.jpg" alt="Pago Facil">
                    <img src="/images/medio-3.jpg" alt="Masterd Card">
                    <img src="/images/medio-4.jpg" alt="Visa dto">
                </div>
            </article>
        </div>


        <div class="footer_copyright mtp-4">
            <span>Copyright &copy;2021 All rights reserverd | Sitio desarrollado por el grupo Berenge-1</span>
        </div>

    </footer>
</body>

</html>