<header class="header">
    <nav class="navbar">
        
        <!-- Logo -->
        <div class="navbar__logo">
            <a href="/"><img src="images/logo/ukunta.svg" alt="logotipo"></a>
        </div>

        <!-- Search -->
        <div class="navbar__search only-desktop">
            <input type="search" name="search" class="input-search" placeholder="Buscar productos">
            <button><i class="fas fa-arrow-right"></i></button>
        </div>

        <!-- Navegacion -->
        <div class="navbar__menu">
            <ul class="navbar_ul only-desktop">
                <li class="navbar__item active"><a href="#">INICIO</a></li>
                <li class="navbar__item"><a href="#">NOSOTROS</a></li>
                <li class="navbar__item"><a href="#">TIENDA</a></li>
                <li class="navbar__item"><a href="#">CONTACTO</a></li>
                <!-- boton del menu desplegable para cerrar -->
                <button class="navbar__back no-desktop">
                    <i class="fas fa-arrow-down"></i>
                </button>
            </ul>
            
            <div class="navbar__shop only-desktop">
                <a href="#" class="navbar__item">
                    <i class="fas fa-shopping-cart only-desktop"></i>
                </a>
                <div class="navbar__badge">3</div>
            </div>
            
            <a href="#" class="navbar__item"><i class="fas fa-user"></i></a>
        </div>
    </nav>

    <div class="header__carrousel">
        <img src="/images/headerMain-1.jpg" alt="header-1">
    </div>
</header>