<!-- Barra de navegación inferior -->
<nav class="navbar-bottom no-desktop">
    <ul class="navbar-bottom__ul">
        <li class="navbar__item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="navbar__item"><a href="#"><i class="fas fa-search"></i></a></li>
        <li class="navbar__item"><a href="#"><i class="fas fa-store"></i></a></li>
        <li class="navbar__shop">
            <a href="#" class="navbar__item">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="navbar__badge">3</div>
        </li>
        <li class="navbar__item"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>