<!DOCTYPE html>
<html lang="es">
   <%- include('./partials/head') %>

   <body>
      <main>
         <section class="container f-main-center f-cross-start ptp-5 minvh-100">
            <div class="mb-9 tb-8 lp-6 dk-4">
               <img src="/images/logo/logo.svg" alt="Ukunta Logo" />
            </div>
            <div class="mb-12 f-main-center">
               <h3>¿ÉRES MAYOR DE 18 AÑOS?</h3>
            </div>

            <div class="mb-12 f-main-center">
               <div class="button welcome__cerrar no-mb"><i class="fas fa-times"></i></div>
               <div class="ctrl-label-button">
                  <div class="label-button">Sí, claro</div>
                  <div class="button"><i class="fas fa-check"></i></div>
               </div>
            </div>
            <div class="f-display f-main-center">
               <div class="button welcome__cerrar--mobile only-mb"><i class="fas fa-times"></i></div>
            </div>
         </section>
      </main>
      <script src="/js/welcome.js" type="module"></script>
   </body>
</html>
