<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cart</title>
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/9a95f588d1.js" crossorigin="anonymous"></script>
</head>

<body class="cart">

  <%- include('partials/mini-header')  %> 

  <div class="container totalBuy">
  
      <p class="total_elementos">
        Total de Elementos
      </p>
      <p class="cantidad">
        3
      </p>

  </div>

  <section class="container buys">
  
    <article class="mb-12 tb-6 container producto">

      <div class="mb-5 producto__imagen">
        <img src="/images/products/Bebidas/Cervezas/tapaboca01-305x368.jpg" alt="ipa brown">
      </div>
      <div class="mb-7 producto__detalle">
        <div class="titulo-desc">
          <h4 class="detail_titleBuy">ipa brown</h4>
          <p class="descriptionBuy">
            Capacidad: 330ml
          </p>
        </div>

        <div class="producto__cantidad">
          Cantidad: 2
        </div>

        <div class="f-display f-main-between mas_menos_precio">
          <div class="f-display">
            <div class="buton_redondo rojo mr-1">
              <i class="fas fa-minus"></i>
            </div>
            <div class="buton_redondo verde">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="button_precio">
            <p>$9.999</p>
          </div>
        </div>

      </div>

    </article>

    <article class="mb-12 tb-6 container producto">

      <div class="mb-5 producto__imagen">
        <img src="/images/products/Bebidas/Cervezas/tapaboca01-305x368.jpg" alt="pétalos">
      </div>
      <div class="mb-7 producto__detalle">
        <div class="titulo-desc">
          <h4 class="detail_titleBuy">pétalos rosas</h4>
          <p class="descriptionBuy">
            Capacidad: 330ml
          </p>
        </div>

        <div class="producto__cantidad">
          Cantidad: 2
        </div>

        <div class="f-display f-main-between mas_menos_precio">
          <div class="f-display">
            <div class="buton_redondo rojo mr-1">
              <i class="fas fa-minus"></i>
            </div>
            <div class="buton_redondo verde">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="button_precio">
            <p>$9.999</p>
          </div>
        </div>

      </div>

    </article>

    <article class="mb-12 tb-6 container producto">

      <div class="mb-5 producto__imagen">
        <img src="/images/products/Bebidas/Cervezas/tapaboca01-305x368.jpg" alt="martillo">
      </div>
      <div class="mb-7 producto__detalle">
        <div class="titulo-desc">
          <h4 class="detail_titleBuy">martillo thor</h4>
          <p class="descriptionBuy">
            Capacidad: 330ml
          </p>
        </div>

        <div class="producto__cantidad">
          Cantidad: 2
        </div>

        <div class="f-display f-main-between mas_menos_precio">
          <div class="f-display">
            <div class="buton_redondo rojo mr-1">
              <i class="fas fa-minus"></i>
            </div>
            <div class="buton_redondo verde">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="button_precio">
            <p>$9.999</p>
          </div>
        </div>

      </div>

    </article>

    <article class="mb-12 tb-6 container producto">

      <div class="mb-5 producto__imagen">
        <img src="/images/products/Bebidas/Cervezas/tapaboca01-305x368.jpg" alt="tapaboca">
      </div>
      <div class="mb-7 producto__detalle">
        <div class="titulo-desc">
          <h4 class="detail_titleBuy">tapaboca</h4>
          <p class="descriptionBuy">
            Capacidad: 330ml
          </p>
        </div>

        <div class="producto__cantidad">
          Cantidad: 2
        </div>

        <div class="f-display f-main-between mas_menos_precio">
          <div class="f-display">
            <div class="buton_redondo rojo mr-1">
              <i class="fas fa-minus"></i>
            </div>
            <div class="buton_redondo verde">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="button_precio">
            <p>$9.999</p>
          </div>
        </div>

      </div>

    </article>

  </section>

  <div class="container totalBuy">
    <p class="total_pagar">
      Total A Pagar
    </p>
    <p class="precio">
      $9999,99
    </p>
  </div>

  <div class="f-display f-main-between">
    <div class="f-display icono_flecha">
      <i class="fas fa-arrow-right"></i>
    </div>
    <div class="f-display icono_card">
      <i class="fas fa-credit-card"></i>
    </div>
  </div>
  
</body>

</html>