<section class="container-slider">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="/images/headerMain-1.jpg" alt="headerMain-1" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="/images/headerMain-2.jpg" alt="headerMain-2" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="/images/headerMain-3.jpg" alt="headerMain-3" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="/images/headerMain-4.jpg" alt="headerMain-4" class="slider__img">
        </div>
    </div>
    <span class="slider__btn slider__btn--left" id="btn-left"><i class="fas fa-chevron-left"></i></span>
    <span class="slider__btn slider__btn--right" id="btn-right"><i class="fas fa-chevron-right"></i></span>
</section>