<footer class="mt-5 footer">
  <div class="container">
      <div class="mb-12 f-center footer__redes">
          <a href="https://www.facebook.com/ukunta" target="_blank" class="button button-redes">
              <img src="/images/icon-fb.svg" alt="facebook">
          </a>
          <a href="https://www.instagram.com/ukunta" target="_blank" class="button button-redes">
              <img src="/images/icon-ig.svg" alt="instagram">
          </a>
          <a href="https://www.youtube.com/ukunta" target="_blank" class="button button-redes">
              <img src="/images/icon-yt.svg" alt="youtube">
          </a>
      </div>

      <article class="mb-12 tb-4 f-main-y">
          <h4 class="footer__title">Datos de contacto</h4>
          <div class="footer__item">
              <a href="https://www.google.com/maps/place/Oslo,+Noruega/@59.893855,10.785117,13z/data=!4m5!3m4!1s0x46416e61f267f039:0x7e92605fd3231e9a!8m2!3d59.9138688!4d10.7522454?hl=es-419" target="_blank"><i class="fas fa-map-marker-alt"> </i>
                  dirección: av siempre viva 453
              </a>
          </div>
          <div class="footer__item">
              <a href="https://wa.me/+5491234567890/?text=Hola%20quisiera%20mas%20informacion%20sobre" target="_blank"><i class="fab fa-whatsapp"> </i>
                  whatsapp: +54 9 123 4567890
              </a>
          </div>
          <div class="footer__item">
              <a href="mailto:ventas@ukunta.com.ar" Subject="Informacion%20sobre%20el%20producto" target="_blank"><i class="fas fa-envelope"> </i>
                  email: ventas@ukunta.com.ar
              </a>
          </div>
      </article>

      <article class="mb-12 tb-4 f-main-y">
          <h4 class="footer__title">Mapa del sitio</h4>
          <div class="footer__item">
              <a href="/nosotros">Nosotros</a>
          </div>
          <div class="footer__item">
              <a href="/store">Tienda</a>
          </div>
          <div class="footer__item">
              <a href="#contacto">Contacto</a>
          </div>
      </article>

      <article class="mb-12 tb-4 f-main-y">
          <h4 class="footer__title">Medios de pago</h4>
          <div class="footer__item footer__medios">
              <img src="/images/medio-1.jpg" alt="Rapipago">
              <img src="/images/medio-2.jpg" alt="Pago Facil">
              <img src="/images/medio-3.jpg" alt="Masterd Card">
              <img src="/images/medio-4.jpg" alt="Visa dto">
          </div>
      </article>
  </div>


  <div class="footer_copyright">
      Copyright &copy;2021 All rights reserverd | Sitio desarrollado por el grupo <a href="https://github.com/Danicof123/grupo_1_ukunta" class="bereng-1 mx-1"> Berenge-1</a>
  </div>

</footer>