<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
    <!-- MAIN STYLES -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>TESTEO GRILLA FLEX</title>
</head>

<style>
    .test__sombra{
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    }

</style>
<body>
    <div class="container">
        <article class="mb-12 tb-6 lp-4 mtp-4 test__sombra">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, officia illum! Aperiam, blanditiis quas consequatur libero fugit placeat, quos porro esse autem excepturi earum iure ducimus? Illum, accusantium? Explicabo, necessitatibus?
        </article>

        <article class="mb-12 tb-6 lp-4 mtp-4 test__sombra">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, officia illum! Aperiam, blanditiis quas consequatur libero fugit placeat, quos porro esse autem excepturi earum iure ducimus? Illum, accusantium? Explicabo, necessitatibus?
        </article>

        <article class="mb-4 mtp-4 test__sombra">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, officia illum! Aperiam, blanditiis quas consequatur libero fugit placeat, quos porro esse autem excepturi earum iure ducimus? Illum, accusantium? Explicabo, necessitatibus?
        </article>

    </div>
</body>
</html>