.profile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile main {
  flex-grow: 1;
}
.profile__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__avatar {
  width: 150px;
  height: 150px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid var(--color-primario);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

.profile__avatar img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* --------------------------------------------- SUBIR IMAGENES INPUT --------------------------------------------- */
.profile__set-image{
    position: relative;
}
.profile__avatar-add{
  position: absolute;
  right: -13px;
  bottom: -13px;
  font-size: 1.75rem;
  color: var(--color-gris);
  cursor: pointer;
}
.profile__avatar-add:hover{
  color: var(--color-primario);
}
.profile__avatar-add:hover::after{
  content: 'Elige una imagen para subir: jpg o png';
  position: absolute;
  top: 1rem;
  left: 2rem;
  padding: .5rem;
  width: max-content;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: var(--color-gris);
  background-color: #fff;
  box-shadow: var(--sombra);
}


/* --------------------------------------------- PROFILE NAME --------------------------------------------- */
.profile__name {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.profile__level {
  margin-top: 0;
}

.profile__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.profile__nav-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.profile__nav-row li {
  font-size: 48px;
  color: var(--color-gris);
  cursor: pointer;
}

.profile__nav-row li.active,
.profile__nav-row li:hover:not([disabled]) {
  color: var(--color-primario);
}
.profile__nav-row li[disabled] {
  color: #ccc;
}
.profile__delete-profile {
  border-top: 1px solid var(--color-gris-claro);
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  text-align: right;
}

.profile__delete-profile span {
  font-size: 12px;
  color: var(--color-rojo);
  cursor: pointer;
}
/* --------------------------------------------- PREVIEW IMAGE --------------------------------------------- */
.previewImage{
  position: fixed;
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}
.previewImage__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}
.previewImage__title-icon{
  font-size: 3rem;
  color: var(--color-primario);
}

.previewImage__title-title{
  margin-top: 0;
}
/* Imagen */
.previewImage__newImage{
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
}
.previewImage__newImage img{
  height: 100%;
  object-fit: cover;
}
/* Botones */
.previewImage__buttons{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
}
.previewImage__btn:last-child{
  width: 100%;
}
.previewImage__btn:not(:last-child){
  margin-right: 1rem;
}


/* --------------------------------------------- MEDIAS QUERIES --------------------------------------------- */

@media screen and (min-width: 768px) {
  .profile__set-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    height: 342px;
  }
  .profile__set-title-icon {
    display: block;
    font-size: 6rem;
    color: var(--color-primario);
  }
  .profile__set-title-opt {
    margin-top: 0rem;
    font-size: 1.5rem;
  }

  .previewImage{
    width: 432px;
    height: 700px;
    box-shadow: var(--sombra);
    overflow: hidden;
    left: calc(50vw - 216px);
    top: calc(50vh - 400px);
  }
  .previewImage__newImage{
    height: 400px;
    width: 400px;
  }
}

